{% extends "::application.html.twig" %} 
{% block title %}Offre n°{{offre.id}}{% endblock %}

{% block body %}
<div id="page-content">
  <div id='wrap'>
    <div id="page-heading">
      <ol class="breadcrumb">
        <li><a href="{{ path('application_main_homepage') }}">Plateforme</a></li>
        <li><a href="{{ path('offre_homepage') }}">Partage d'Offre</a></li>
        <li class="active">{{offre.title}}</li>
      </ol>
      <h1>Offre n°{{offre.id}} :</h1>
    </div>
    <div class="container">      
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="form-horizontal tab-pane active" id="midifier">
                {{ form_start(form) }}
                <div class="col-md-6">
                    {{ form_errors(form) }}
                    <div class="form-group">
                        {{ form_label(form.title, "Titre", { 'label_attr' : { 'class' : 'col-sm-3 control-label' } }) }}
                        <div class="col-sm-6">
                            {{ form_widget(form.title, { 'attr' : { 'class' : 'form-control' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.type, "Type", { 'label_attr' : { 'class' : 'col-sm-3 control-label' } }) }}
                            <div class="col-sm-6">
                                {{ form_widget(form.type, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.description, "Description", { 'label_attr' : { 'class' : 'col-sm-3 control-label' } }) }}
                        <div class="col-sm-6">
                            {{ form_widget(form.description, { 'attr' : { 'class' : 'form-control' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.attachement, "Pièce Jointe", { 'label_attr' : { 'class' : 'col-sm-3 control-label' } }) }}
                        <div class="col-sm-6">
                            {{ form_widget(form.attachement, { 'attr' : { 'class' : 'form-control' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.enabled, "Disponible", { 'label_attr' : { 'class' : 'col-sm-3 control-label' } }) }}
                        <div class="col-sm-6">
                            {{ form_widget(form.enabled, { 'attr' : { 'class' : 'form-control' } }) }}
                        </div>
                    </div>
                    <div class="btn-toolbar" style="text-align: center;">
                        <button class="btn-primary btn">Modifier</button>
                    </div>
                </div>
                {{ form_rest(form) }} 
                                               
            {{ form_end(form) }}   
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}