{% block admin_socialbundle_social_widget %}

<form class="form-horizontal" method="post" {{ form_enctype(form) }}>
{{ form_errors(form) }}
    <div class="form-group{% if form_errors(form.nom) is not empty %} has-error{% endif %}">
        {{ form_label(form.nom, "Nom*", { 'label_attr' : { 'class' : 'col-sm-3 control-label' } }) }}
        <div class="col-sm-6">
            {{ form_widget(form.nom, { 'attr' : { 'class' : 'form-control' } }) }}
        </div>
        <div class="col-md-3 has-error">
            <p class="help-block">{{ form_errors(form.nom)|replace({ '<li>': '', '</li>': '', '<ul>': '', '</ul>': ''}) }}</p>
        </div>
    </div>
    <div class="form-group{% if form_errors(form.class) is not empty %} has-error{% endif %}">
        {{ form_label(form.class, "Classe CSS", { 'label_attr' : { 'class' : 'col-sm-3 control-label' } }) }}
        <div class="col-sm-6">
            {{ form_widget(form.class, { 'attr' : { 'class' : 'form-control' } }) }}
        </div>
        <div class="col-md-3 has-error">
            <p class="help-block">{{ form_errors(form.class)|replace({ '<li>': '', '</li>': '', '<ul>': '', '</ul>': ''}) }}</p>
        </div>
    </div>
    {{ form_rest(form) }}
    <div style="text-align: center;">
        <div class="btn-toolbar">
            <button class="btn-primary btn">Enregistrer</button>
            <button class="btn-default btn">Annuler</button>
        </div>
    </div>
</form>

{% endblock %}