{% block admin_userbundle_user_widget %}

<script type='text/javascript' src='/PLANELIS/web/assets/js/jquery-1.10.2.min.js'></script> 

<form class="form-horizontal" method="post" {{ form_enctype(form) }}>
{{ form_errors(form) }}
    <div class="form-group{% if form_errors(form.username) is not empty %} has-error{% endif %}">
        {{ form_label(form.username, "Login*", { 'label_attr' : { 'class' : 'col-sm-3 control-label' } }) }}
        <div class="col-sm-6">
            {{ form_widget(form.username, { 'attr' : { 'class' : 'form-control' } }) }}
        </div>
        <div class="col-md-3 has-error">
            <p class="help-block">{{ form_errors(form.username)|replace({ '<li>': '', '</li>': '', '<ul>': '', '</ul>': ''}) }}</p>
        </div>
    </div>
    <div class="form-group{% if form_errors(form.email) is not empty %} has-error{% endif %}">
        {{ form_label(form.email, "Email*", { 'label_attr' : { 'class' : 'col-sm-3 control-label' } }) }}
        <div class="col-sm-6">
            {{ form_widget(form.email, { 'attr' : { 'class' : 'form-control' } }) }}
        </div>
        <div class="col-md-3 has-error">
            <p class="help-block">{{ form_errors(form.email)|replace({ '<li>': '', '</li>': '', '<ul>': '', '</ul>': ''}) }}</p>
        </div>
    </div>
    <div class="form-group{% if form_errors(form.name) is not empty %} has-error{% endif %}">
        {{ form_label(form.name, "Nom*", { 'label_attr' : { 'class' : 'col-sm-3 control-label' } }) }}
        <div class="col-sm-6">
            {{ form_widget(form.name, { 'attr' : { 'class' : 'form-control' } }) }}
        </div>
        <div class="col-md-3">
            <p class="help-block">{{ form_errors(form.name)|replace({ '<li>': '', '</li>': '', '<ul>': '', '</ul>': ''}) }}</p>
        </div>
    </div>
    <div class="form-group{% if form_errors(form.surname) is not empty %} has-error{% endif %}">
        {{ form_label(form.surname, "Prénom*", { 'label_attr' : { 'class' : 'col-sm-3 control-label' } }) }}
        <div class="col-sm-6">
            {{ form_widget(form.surname, { 'attr' : { 'class' : 'form-control' } }) }}
        </div>
        <div class="col-md-3 has-error">
            <p class="help-block">{{ form_errors(form.surname)|replace({ '<li>': '', '</li>': '', '<ul>': '', '</ul>': ''}) }}</p>
        </div>
    </div>
    <div class="form-group{% if form_errors(form.address) is not empty %} has-error{% endif %}">
        {{ form_label(form.address, "Adresse", { 'label_attr' : { 'class' : 'col-sm-3 control-label' } }) }}
        <div class="col-sm-6">
            {{ form_widget(form.address, { 'attr' : { 'class' : 'form-control' } }) }}
        </div>
        <div class="col-md-3 has-error">
            <p class="help-block">{{ form_errors(form.address)|replace({ '<li>': '', '</li>': '', '<ul>': '', '</ul>': ''}) }}</p>
        </div>
    </div>
    <div class="form-group{% if form_errors(form.telephone) is not empty %} has-error{% endif %}">
        {{ form_label(form.telephone, "Téléphone", { 'label_attr' : { 'class' : 'col-sm-3 control-label' } }) }}
        <div class="col-sm-6">
            {{ form_widget(form.telephone, { 'attr' : { 'class' : 'form-control' } }) }}
        </div>
        <div class="col-md-3 has-error">
            <p class="help-block">{{ form_errors(form.telephone)|replace({ '<li>': '', '</li>': '', '<ul>': '', '</ul>': ''}) }}</p>
        </div>
    </div>
    <div class="form-group{% if form_errors(form.website) is not empty %} has-error{% endif %}">
        {{ form_label(form.website, "Site Web", { 'label_attr' : { 'class' : 'col-sm-3 control-label' } }) }}
        <div class="col-sm-6">
            {{ form_widget(form.website, { 'attr' : { 'class' : 'form-control' } }) }}
        </div>
        <div class="col-md-3 has-error">
            <p class="help-block">{{ form_errors(form.website)|replace({ '<li>': '', '</li>': '', '<ul>': '', '</ul>': ''}) }}</p>
        </div>
    </div>
    <div class="form-group{% if form_errors(form.biography) is not empty %} has-error{% endif %}">
        {{ form_label(form.biography, "Biographie", { 'label_attr' : { 'class' : 'col-sm-3 control-label' } }) }}
        <div class="col-sm-6">
            {{ form_widget(form.biography, { 'attr' : { 'class' : 'form-control' } }) }}
        </div>
        <div class="col-md-3 has-error">
            <p class="help-block">{{ form_errors(form.biography)|replace({ '<li>': '', '</li>': '', '<ul>': '', '</ul>': ''}) }}</p>
        </div>
    </div>
    <div id="social-fields-list">
    {% for social in form.userSocials %}

    <div class="form-group">
        {{ form_widget(social.social, { 'attr' : { 'class' : 'col-sm-3 input-sm' } }) }}
        <div class="col-sm-6">
            {{ form_widget(social.value, { 'attr' : { 'class' : 'form-control' } }) }}
        </div>

    </div>

    {% endfor %}
    {{ form_rest(form) }}
    </div>
    
    <div id="admin_userbundle_user_userSocials" data-prototype="{% filter escape %}{% include 'prototype.twig' with { 'item': form.userSocials.vars.prototype } %}{% endfilter %}"></div>
    Il faut modifier la gueule du dataprototype pour la mise en forme
    <a href="#" id="add-another-social">Add another social{{ form.userSocials | length }}</a>

    <div style="text-align: center;">
        <div class="btn-toolbar">
            <button class="btn-primary btn">Enregistrer</button>
            <button class="btn-default btn">Annuler</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    // garde une trace du nombre de champs social qui ont été affichés
    var emailCount = '{{ form.userSocials | length }}';

    jQuery(document).ready(function() {
        jQuery('#add-another-social').click(function() {
            var emailList = jQuery('#admin_userbundle_user_userSocials');
            var newWidget = emailList.attr('data-prototype');
            newWidget = newWidget.replace(/__name__/g, emailCount);
            emailCount++;
            var newLi = jQuery('<div class="form-group"></div>').html(newWidget);
            newLi.appendTo(jQuery('#social-fields-list'));
            return false;
        });
    })
</script>
{% endblock %}