{% extends "::application.html.twig" %} 

{% block title %}Social - Administration {% endblock %}

{% block body %}
<div id="page-content">
    <div id='wrap'>
        <div id="page-heading">
            <ol class="breadcrumb">
                <li><a href="#">Plateforme</a></li>
                <li>Administration</li>
                <li class="active">Social</li>
            </ol>
            <h1>Réseaux sociaux</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4>Gestion des réseaux sociaux</h4>
                            <div class="options">
                            </div>
                        </div>
                        <div class="panel-body">
                        <div class="pull-right"><a href="{{ path('admin_social_add') }}" class="btn btn-primary">Ajouter un réseau</a></div>
                            <table class="table table-striped">
                                <thead>
                                {# sorting of properties based on query components #}
                                    <tr>

                                        <th>{{ knp_pagination_sortable(sociaux, 'Id', 't.id') }}</th>
                                        <th>{{ knp_pagination_sortable(sociaux, 'Nom', 't.nom') }}</th>
                                        <th>{{ knp_pagination_sortable(sociaux, 'Classe CSS', 't.class') }}</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for social in sociaux %}
                                    <tr>
                                        <td>{{ social.id }}</td>
                                        <td>{{ social.nom }}</td>
                                        <td>{{ social.class }}</td>
                                        <td><a href="{{ path('admin_social_edit', { 'id' : social.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a> <a href="{{ path('admin_social_delete', { 'id' : social.id }) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- container -->
    </div><!--wrap -->
</div><!-- page-content -->
{% endblock %}