{% extends "::application.html.twig" %} 

{% block title %}ZZ Chat{% endblock %}
    {% block body %}
        <div id="page-content">
            <div id='wrap'>
                <div id="page-heading">
                    <ol class="breadcrumb">
                        <li><a href="{{ path('application_main_homepage') }}">Plateforme</a></li>
                        <li class="active">ZZ Chat</li>
                    </ol>
                    <h1>ZZ Chat</h1>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-inverse">
                                <div class="panel-heading">
                                    <h4>ZZ Chat</h4>
                                    <div class="options">
                                        <a href="{{ path('application_chat_homepage') }}"><i class="fa fa-refresh"></i></a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel-chat well" id="chat">
                                                {% for message in messages %}
                                                    <div class="chat-message {% if app.user == message.user %}me{% else %}{% if message.user.id is divisible by(2) %}{% if message.user.promotion is divisible by(2) %}chat-primary{% else %}chat-indigo{% endif %}{% else %}{% if message.user.promotion is divisible by(2) %}midnightblue{% else %}chat-success{% endif %}{% endif %}{% endif %}">
                                                        <div class="chat-contact">
                                                            {% if message.user.avatar.extension is empty %}
                                                                <img src="{{ asset(message.user.avatar.defaultWebPath) }}" alt="{{ message.user.username }}" style="width: 40px; height: 40px;" />
                                                                {% else %}
                                                                <img src="{{ asset(message.user.avatar.webPath) }}" alt="{{ message.user.username }}" style="width: 40px; height: 40px;" />
                                                            {% endif %}
                                                        </div>
                                                        <div class="chat-text">
                                                            {{ message.message }}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <form method="post" class="form-inline" {{ form_enctype(form) }}>
                                                <p class="text-danger"><strong>{{ form_errors(form.message)|replace({ '<li>': '', '</li>': '', '<ul>': '', '</ul>': ''}) }}</strong></p>
                                                <div class="input-group">
                                                    {{ form_widget(form.message, { 'attr' : { 'class' : 'form-control', 'placeholder': 'Entrez votre message ici' } }) }}
                                                    {{ form_rest(form) }} 
                                                    
                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-primary"><i class="fa fa-comments-o"></i></button>
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div> <!-- container -->
            </div> <!--wrap -->
        </div> <!-- page-content -->

    {% endblock %}