{% extends "::application.html.twig" %} 

{% block title %}Mes cotisations{% endblock %}

  {% block body %}
    <div id="page-content">
      <div id='wrap'>
        <div id="page-heading">
          <ol class="breadcrumb">
            <li><a href="{{ path('application_main_homepage') }}">Plateforme</a></li>
            <li class="active">Cotisations</li>
          </ol>
        </div>

        <div class="container">
          <div class="jumbotron">
            <h3>Pourquoi Cotiser ?</h3>
            Cotiser permet à l'association d'évoluer et de subvenir aux différents besoins financiers comme la maintenance et l'hébergement de cette plateforme ou encore l'organisation d'évènements !
            Cela vous donne également des avantages comme la possibilité de proposer des offres aux ZZ et de consulter le profil des personnes !
          </div>
          <h1>Mes cotisations</h1>
          <div class="row">
            <div class="pannel-group">
                {% if app.user.cotisations|length > 0 %}
                    {% for aFinir in cotisEnAttente %}
                         <div class="col-xs-6">
                  <div class="panel panel-orange">
                    <div class="panel-heading">
                      <h4>Cotisation {{ aFinir.format('Y') }}</h4>
                    </div>
                    <div class="panel-body">
                    <p class="text-info">Votre cotisation est en attente de validation. Si vous ne souhaitez pas payer en ligne, n'hésitez pas à nous contacter !</p>
                      <br>
                      </div>
                  </div>
                         </div>
                        {% endfor %}
                    {% for i in 0..cotisDispo|length-1 if cotisDispo!=null %}
                        {#{% for dateDispo in cotisDispo %}#}
                <div class="col-xs-6">
                  <div class="panel panel-orange">
                    <div class="panel-heading">
                      <h4>Cotisation {{ cotisDispo[i] }}</h4>
                    </div>
                    <div class="panel-body">
                      <p class="text-info">La cotisation {{ cotisDispo[i] }} est ouverte ! L'argent récolté nous permet de faire <strong>vivre l'association</strong> et d'<strong>organiser des événements</strong> comme les récrées ANELIS.</p>
                      <br>
                      {% if i==0 %} {# DONC LA C'EST TEMPO/SALE, ON LIMITE A DEUX COTISATIONS OUVERTES
                      EN MEME TEMPS.#}
                        {{ form_start(form1) }}
                        {{ form_label(form1.typeCotisation, "Type de cotisation*", { 'label_attr' : { 'class' : 'col-sm-offset-1 col-sm-4 control-label' }})}}
                        {{ form_widget(form1.typeCotisation, { 'attr' : { 'text-align' : 'center' } }) }}
                      <div class="form-group">
                          {{ form_errors(form1) }}
                          {{ form_rest(form1) }}
                      </div>
                        <p class="text-center"><button name="ValiderCotisation" value="form1" type="submit" class="btn-default btn">Cotiser</button></p>

                      {% else %}
                                  {{ form_start(form2) }}
                                  {{ form_label(form2.typeCotisation, "Type de cotisation*", { 'label_attr' : { 'class' : 'col-sm-offset-1 col-sm-4 control-label' }})}}
                                  {{ form_widget(form2.typeCotisation, { 'attr' : { 'text-align' : 'center' } }) }}
                                <div class="form-group">
                                    {{ form_errors(form2) }}
                                    {{ form_rest(form2) }}
                                </div>
                      <p class="text-center"><button name="ValiderCotisation" value="form2" type="submit" class="btn-default btn">Cotiser</button></p>
                              {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}

                {% for dateOK in cotisOK %}
                  <div class="col-xs-6">
                    <div class="panel panel-midnightblue">
                      <div class="panel-heading">
                        <h4>Cotisation {{ dateOK }}</h4>
                      </div>
                      <div class="panel-body">
                        <p class="text-info">Vous avez déjà cotisé pour l'année {{ dateOK }}, merci de votre aide !</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            {% else %}
                <p class="text-danger">Aucune cotisation n'est active et il n'est pas possible de cotiser actuellement.</p>
            {% endif %}




            </div>
          </div>
        </div>

        <div class="container">
          <h1>Historique</h1>
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-midnightblue">
                <div class="panel-heading">
                  <h4>Historique des cotisations</h4>
                  <div class="options">

                  </div>
                </div>
                <div class="panel-body">
                    {% if app.user.cotisations|length > 0 %}
                      <table class="table">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Année</th>
                          <th>Type</th>
                          <th>Prix</th>
                          <th>Statut</th>
                          <th>Facture</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set cotisationNumbers = 1 %}
                        {% for cotisation in app.user.cotisations|reverse %}

                          <tr>
                            <td>{{ cotisationNumbers }}</td>
                            <td>{{ cotisation.year|date("Y") }}</td>
                            <td>{{ cotisation.typeCotisation.name }}</td>
                            <td>{{ cotisation.priceCotisation }} €</td>
                            <td>{% if cotisation.invoice.payed %}<button class="btn btn-success">Payé</button>{% else %}<button class="btn btn-danger">En attente de paiement</button>{% endif %}</td>
                            <td><a href="{{ path("application_cotisation_invoice_get", { "id" : cotisation.invoice.id }) }}"><i class="fa fa-eye"></i></a>    {% if not cotisation.invoice.payed %}
                                <a href="{{ path("application_cotisation_delete", { "id" : cotisation.id }) }}"><span class="glyphicon glyphicon-trash"></span></i></a>
                                {% endif %}</td>
                          </tr>
                            {% set cotisationNumbers = cotisationNumbers + 1 %}
                        {% endfor %}
                        </tbody>
                      </table>
                    {% else %}
                      <p class="text-danger"><strong>Aucune cotisation n'a été trouvé pour votre compte. N'hésitez pas à effectuer une demande de cotisation.</strong></p>
                    {% endif %}


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

  {% endblock %}