{% extends "::application.html.twig" %} 

{% block title %}Mes cotisations{% endblock %}

  {% block body %}
    <div id="page-content">
      <div id='wrap'>
        <div id="page-heading">
          <ol class="breadcrumb">
            <li><a href="index.php">Plateforme</a></li>
            <li class="active">Cotisation</li>
          </ol>

          <h1>Mes cotisations</h1>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h4>Historique des cotisations</h4>
                  <div class="options">

                  </div>
                </div>
                <div class="panel-body">
                  <p class="text-right"><a href="{{ path('application_cotisation_new') }}" title="Nouvelle cotisation"><button class="btn-primary btn">Nouvelle cotisation</button></a></p>
                  {% if app.user.cotisations|length > 0 %}
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Année</th>
                          <th>Type</th>
                          <th>Prix</th>
                          <th>Facture</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% set cotisationNumbers = 1 %}
                          {% for cotisation in app.user.cotisations|reverse %}
                            
                            <tr>
                              <td>{{ cotisationNumbers }}</td>
                              <td>{{ cotisation.year|date("Y") }}</td>
                              <td>{{ cotisation.typeCotisation.name }}</td>
                              <td>{{ cotisation.priceCotisation }} €</td>
                              <td><a href="{{ path("application_cotisation_invoice_get", { "id" : cotisation.invoice.id }) }}"><i class="fa fa-eye"></i></a></td>
                            </tr>
                            {% set cotisationNumbers = cotisationNumbers + 1 %}
                            {% endfor %}
                          </tbody>
                        </table>
                        {% else %}
                        <p class="text-danger"><strong>Aucune cotisation n'a été trouvé pour votre compte. N'hésitez pas à effectuer une demande de cotisation.</strong></p>
                      {% endif %}
                      
                      
                    </div>
                  </div>
                </div>
              </div>




            </div>
          </div>

        </div> <!--wrap -->
      </div> <!-- page-content -->

    {% endblock %}