{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% form_theme form '@ApplicationCotisation/Form/fields.html.twig' %}

{% block content %}

    <!-- Gestion des erreurs -->
    <div class="alert-error">

    </div>

    <!-- Formulaire -->
    {{ form_start(form) }}
    <table class="table table-striped">
        {% set i = 1 %}
        <thead>
            <tr>
                <th>#</th>
                <th>Login</th>
                <th>Mail</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Promo</th>
                <th>Filiere</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Mot De Passe</th>
                <th>Etat</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for line in form.lines %}
            <tr>
                <td>{{ i }}</td>

                <!-- LOGIN -->
                <td>
                {% if form.lines.vars.value[i-1].errors and (form.lines.vars.value[i-1].errors.loginKo or form.lines.vars.value[i-1].errors.loginNotFound or form.lines.vars.value[i-1].errors.loginAlreadyExists) %}
                    {{ form_row(line.login, { 'attr': {'class': 'label-danger'} }) }}
                {% else %}
                    {{ form_row(line.login) }}
                {% endif %}
                </td>

                <!-- EMAIL -->
                <td>
                {% if form.lines.vars.value[i-1].errors and form.lines.vars.value[i-1].errors.emailKo %}
                    {{ form_row(line.mail, { 'attr': {'class': 'label-danger'} }) }}
                {% else %}
                    {{ form_row(line.mail) }}
                {% endif %}
                </td>

                <!-- PRENOM -->
                <td>
                {% if form.lines.vars.value[i-1].errors and form.lines.vars.value[i-1].errors.prenomNotFound %}
                    {{ form_row(line.prenom, { 'attr': {'class': 'label-danger'} }) }}
                {% else %}
                    {{ form_row(line.prenom) }}
                {% endif %}
                </td>

                <!-- NOM -->
                <td>
                {% if form.lines.vars.value[i-1].errors and form.lines.vars.value[i-1].errors.nomNotFound %}
                    {{ form_row(line.nom, { 'attr': {'class': 'label-danger'} }) }}
                {% else %}
                    {{ form_row(line.nom) }}
                {% endif %}
                </td>

                <!-- PROMO -->
                <td>
                {% if form.lines.vars.value[i-1].errors and form.lines.vars.value[i-1].errors.promoFormatKo %}
                    {{ form_row(line.promo, { 'attr': {'class': 'label-danger'} }) }}
                {% else %}
                    {{ form_row(line.promo) }}
                {% endif %}
                </td>

                <!-- FILIERE -->
                <td>{{ form_row(line.filiere) }}</td>

                <!-- ADDRESSE -->
                <td>{{ form_row(line.adresse) }}</td>

                <!-- TELEPHONE -->
                <td>{{ form_row(line.telephone) }}</td>

                <!-- PASSWORD -->
                <td>
                {% if form.lines.vars.value[i-1].errors and form.lines.vars.value[i-1].errors.passwordKo %}
                    {{ form_row(line.password, { 'attr': {'class': 'label-danger'} }) }}
                {% else %}
                    {{ form_row(line.password) }}
                {% endif %}
                </td>

                <!-- STATE -->
                <td>{{ form_row(line.state) }}</td>

                <!-- ACTION -->
                <td>{{ form_row(line.action) }}</td>
            </tr>
            {% set i = i + 1 %}
            {% endfor %}
        </tbody>
    </table>
    {{ form_row(form.check) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}