{% extends "::application.html.twig" %} 

{% block body %}
<div id="page-content">
  <div id='wrap'>
    <div id="page-heading">
      <ol class="breadcrumb">
        <li><a href="{{ path('application_main_homepage') }}">Plateforme</a></li>
        <li><a href="{{ path('user_edit_profile', { 'id' : app.user.id }) }}">Mon Compte</a></li>
        <li class="active">Mes abonnements</li>
      </ol>
      <h1>Mailing List</h1>
    </div>



<div class="container">

<div class="panel panel-midnightblue">
    <div class="panel-heading">
          <h4>Gestion des abonnements</h4>
    </div>
    <div class="panel-body collapse in">
        <form class="form-horizontal  row-border" method="post" {{ form_enctype(form) }}>
            <div class="form-group">
                {{ form_errors(form) }}
                {{ form_label(form.choices, "Abonnements", { 'label_attr' : { 'class' : 'col-sm-3 control-label' } }) }}
                <div class="col-sm-9">
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled">
                                        {% for choice in form.choices %}
                                            <li>{{ form_widget(choice) }} {{ form_label(choice) }}</li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                </div>
                {{ form_rest(form) }}

            </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="btn-toolbar">
                        <button class="btn-primary btn">Enregistrer</button>
                        <button class="btn-default btn">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



            

        </div>



  </div>
  <!--wrap -->
</div>


{% endblock %}